@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  color: var(--text-default-color);
}

/**********
VARIABLES
**********/
:root {
  /* DIMENSIONS */
  --max-width: 1280px;
  --footer-height: 4rem;
  --title-height: 4rem;

  /* COLORS */
  --text-default-color: #222222;
  --white: #ffffff;
  --light-grey: #ced4da;
  --grey: #dddddd;
  --dark-grey: #c4c4c4;
  --primary-blue: #0a5ed7;
  --light-blue: #89b7f7;

  /* PADDING */
  --padding-slight: 0.2rem;
  --padding-extra-small: 0.5rem;
  --padding-small: 0.8rem;
  --padding-standard: 1rem;
  --padding-large: 1.5rem;

  /* MARGIN */
  --margin-extra-small: 0.5rem;
  --margin-small: 0.8rem;
  --margin-standard: 1rem;

  /* FLEX GAP */
  --gap-standard: 1rem;
  --gap-double: 2rem;

  /* FONT SIZE */
  --font-size-standard: 1rem;
  --font-size-large: 1.2rem;
  --font-size-extra-large: 1.5rem;
  --font-size-title-small: 2.5rem;
  --font-size-title: 3rem;

  /* BUTTONS */
  --button-width-small: 10rem;
  --button-width: 12rem;

  /* BORDERS */
  --border-1px-grey: 1px solid var(--text-default-color);

  /* BOX SHADOW */
  --box-shadow-one: 0px 1px 4px rgba(0, 0, 0, 0.16);
  --box-shadow-two: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  --box-shadow-three: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

/**********
FLEX UTILS
**********/
.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

/**********
TEXT UTILS
**********/
.text-center {
  text-align: center;
}

/**********
HEADER
**********/
.container > header {
  height: var(--title-height);
  background: var(--light-blue);
}

/**********
MAIN
**********/
main {
  padding-top: var(--padding-standard);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 300px;
  min-height: 100%;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  main {
    width: 400px;
  }
}

@media screen and (min-width: 769px) {
  main {
    width: 100%;
    max-width: var(--max-width);
    flex-direction: row;
    align-items: start;
    height: fit-content;
    min-height: calc(100vh - var(--title-height) - var(--footer-height));
  }
}

/**********
CITIES SECTION
**********/
.cities {
  margin: 0 auto;
  width: 100%;
  padding: 0 var(--padding-standard);
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-standard);
}

@media screen and (min-width: 769px) {
  .cities {
    min-width: 300px;
    width: 300px;
    height: 100%;
    border: var(--border-1px-grey);
    margin: var(--margin-standard);
    margin-top: 0;
  }
}

/* CITIES SEARCH INPUT */

.input-container {
  display: flex;
  width: 100%;
  column-gap: 0;
}

.cities label {
  text-transform: capitalize;
  margin: var(--margin-extra-small) 0;
  font-weight: 900;
  font-size: var(--font-size-extra-large);
}

input[name='city-input'] {
  width: 85%;
  text-transform: capitalize;
  font-size: var(--font-size-standard);
  line-height: 2rem;
  border: 1px solid var(--light-grey);
  border-right: 0;
  border-radius: 5px 0 0 5px;
  padding-left: var(--padding-standard);
  background-clip: padding-box;
  appearance: none;
}

input[name='city-input']:focus {
  border-color: var(--light-blue);
  transition: all 200ms ease-in-out;
  outline: none;
}

input[name='city-input']:focus + .btn-search {
  border-color: var(--light-blue);
  transition: all 200ms ease-in-out;
}

.btn-search {
  padding: 0;
  width: 15%;
  border: 1px solid var(--light-grey);
  border-left: 0;
  border-radius: 0 5px 5px 0;
  background: var(--primary-blue);
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  input[name='city-input'] {
    width: 90%;
  }
  .btn-search {
    width: 10%;
  }
}

.btn-search i {
  color: white;
}

.btn-search:hover {
  cursor: pointer;
}

/* CITIES LIST */
.btn-prev-cities {
  margin: 0 auto;
  width: 12rem;
  height: 2rem;
  border: none;
  background: var(--primary-blue);
  color: white;
  font-size: 1rem;
  box-shadow: var(--box-shadow-one);
  border-radius: 5px;
}

@media screen and (min-width: 769px) {
  .btn-prev-cities {
    display: none;
  }
}

.btn-prev-cities:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 200ms ease-in-out;
}

.cities-list {
  padding-bottom: var(--padding-standard);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: var(--gap-standard);
}

.city-item {
  background: var(--light-grey);
  border-radius: 5px;
  height: 2rem;
  line-height: 2rem;
  width: 100%;
  text-align: center;
  box-shadow: var(--box-shadow-two);
}

.city-item:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 200ms ease-in-out;
}

/**********
WEATHER SECTION
**********/
.weather {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-standard);
  padding: 0;
}

@media screen and (min-width: 769px) {
  .weather {
    padding-top: 0;
  }
}

.weather header {
  font-size: var(--font-size-standard);
}

.weather > * {
  width: 100%;
}

.current-weather {
  width: 100%;
  padding: var(--padding-standard);
  text-transform: capitalize;
  border: var(--border-1px-grey);
}

@media screen and (min-width: 769px) {
  .weather {
    padding: 0 var(--padding-standard);
  }
}

.capitalize {
  text-transform: uppercase;
}

.current-weather > ul {
  display: flex;
  flex-direction: column;
  margin-top: var(--margin-standard);
  row-gap: var(--gap-standard);
}

.forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--gap-standard);
}

@media screen and (min-width: 769px) {
  .forecast header {
    align-self: flex-start;
  }
}

/**********
FORECAST LIST
**********/
.forecast-list {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-standard);
}

@media screen and (min-width: 481px) {
  .forecast-list {
    flex-flow: row wrap;
    justify-content: center;
    gap: var(--gap-standard);
    padding-left: var(--padding-standard);
    padding-right: var(--padding-standard);
  }
}

.forecast-card {
  width: 150px;
  border: var(--border-1px-grey);
  padding: var(--padding-extra-small);
  line-height: 2rem;
  text-transform: capitalize;
}

@media screen and (min-width: 769px) {
  .forecast-card {
    width: 150px;
  }
}

/**********
FOOTER
**********/
footer {
  height: var(--footer-height);
}
