@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  color: var(--text-default-color);
}

/**********
VARIABLES
**********/
:root {
  /* DIMENSIONS */
  --max-width: 1280px;

  /* COLORS */
  --text-default-color: #222222;
  --white: #ffffff;
  --grey: #dddddd;
  --dark-grey: #c4c4c4;

  /* PADDING */
  --padding-slight: 0.2rem;
  --padding-extra-small: 0.5rem;
  --padding-small: 0.8rem;
  --padding-standard: 1rem;
  --padding-large: 1.5rem;

  /* MARGIN */
  --margin-standard: 1rem;

  /* FLEX GAP */
  --gap-standard: 1rem;
  --gap-double: 2rem;

  /* FONT SIZE */
  --font-size-standard: 1rem;
  --font-size-large: 1.2rem;
  --font-size-extra-large: 1.5rem;
  --font-size-title: 3rem;
  --font-size-title-small: 2.5rem;

  /* BUTTONS */
  --button-width: 12rem;
  --button-width-small: 10rem;

  /* BORDERS */
  --btn-border: 0.0625rem solid var(--text-default-color);
}

/**********
FLEX UTILS
**********/
.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

/**********
TEXT UTILS
**********/
.text-center {
  text-align: center;
}

/**********
HEADER
**********/
.container > header {
  height: 4rem;
  background: rgb(80, 195, 248);
}

/**********
MAIN
**********/
main {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 769px) {
  main {
    flex-direction: row;
  }
}

/**********
CITIES SECTION
**********/
.cities {
  background: lightblue;
  min-width: 300px;
  height: auto;
}

/**********
WEATHER SECTION
**********/
.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--gap-standard);
  padding: 1rem 0;
}

/**********
FORECAST LIST
**********/
.forecast-list {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-standard);
}

@media screen and (min-width: 481px) {
  .forecast-list {
    flex-flow: row wrap;
    justify-content: center;
    gap: var(--gap-standard);
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.forecast-item {
  width: 150px;
  background: limegreen;
  padding: 0.5rem;
  line-height: 2;
}

/**********
FOOTER
**********/
footer {
  height: 4rem;
}
